@import "./variables";
@import "./breakpoints";

footer {
  @include defaultMargin();
  font-family: $button-font;
  padding: 25px 0 10px 0;
  display: flex;
  justify-content: space-between;
  color: gray;

  @include sm {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}
