@import "./variables";

.header-container {
  @include defaultMargin();
  // padding: 10px 180px 10px 40px;
  @include defaultPadding();
  padding-top: 15px;
  // width: 65%;
  background-color: $gray-shade;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xs {
    width: 90vw;
    padding: 10px 10px 10px 10px;
  }
  img {
    width: 50px;
    @include xs {
      width: 40px;
    }
  }

  .nav-buttons {
    display: flex;
    gap: 30px;
    @include xs {
      display: none;
    }

    button {
      width: 100%;
      padding: 10px 20px;
      font-family: $button-font;
      font-weight: bold;
      color: $secondary-color;
      background-color: transparent;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
