@import "./variables";
@import "./breakpoints";

.hero-container {
  background-color: $gray-shade;
  @include defaultMargin();
  @include defaultPadding();
  @include defaultFlex(center, center);

  height: 40vh;
  @include sm {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .text-wrapper {
    @include defaultFlex(center, center);
    flex-direction: column;
    width: 50%;
    height: 100%;
    @include sm {
      width: 100%;
      text-align: center;
    }

    h1 {
      font-family: $heading-font;
      color: $primary-color;
      font-weight: 900;
      font-size: $size-heading;
      @include xl {
        font-size: $size-medium;
      }
      @include md {
        font-size: 36px;
      }
      @include xs {
        font-size: 28px;
      }
    }
  }

  .image-wrapper {
    @include defaultFlex(center, center);
    flex-direction: column;
    width: 50%;
    height: 105%;
    gap: 20px;
    @include sm {
      width: 100%;
      height: 50%;
    }

    img {
      width: 50%;
      height: 70%;
      @include xl {
        width: 100%;
      }
      @include sm {
        object-fit: cover;
        object-position: 10% 30%;
      }
    }
  }
}
