@import "./variables";

.heading {
  @include defaultPadding();
  margin-bottom: 5%;
  font-family: $heading-font;
  font-size: $size-medium;
  font-weight: 900;
  color: $primary-color;
  @include sm {
    margin-bottom: 10%;
  }
}

.logo-container {
  @include defaultPadding();
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @include sm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-container {
  width: 30%;
  margin-bottom: 5%;
  img {
    margin: 0 auto;
    display: block;
  }
  @include sm {
    width: 100%;
  }
}
