@import "./variables";
@import "./breakpoints";

.button-design {
  padding: 10px 0;
  width: 50%;
  text-align: center;
  text-decoration: none;
  // border: 1px solid $secondary-color;
  color: white;
  border: none;
  background-color: $primary-color;
  font-family: $button-font;
  font-size: 16px;
  cursor: pointer;
  @include dropShadow();

  @include xl {
    width: 100%;
  }

  &:hover {
    background-color: $secondary-color;
    transition: 0.3s linear;
  }
}

.section-container {
  @include defaultMargin();

  height: 100%;
  //   background-color: rgb(226, 226, 226);
}
